".source.csound, .source.csound-score":
  editor:
    commentStart: "; "

".source.csound":
  editor:
    increaseIndentPattern: "\\b(?:do|else(?:if)?|i(?:f|nstr)|opcode)\\b"
    decreaseIndentPattern: "\\b(?:end(?:i[fn]|op|until)|fi|od)\\b"
